services:
  postgres:
    image: postgres:17
    environment:
      POSTGRES_USER: webhookbox
      POSTGRES_PASSWORD: Sopuruchi
      POSTGRES_DB: webhookbox
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
